.post {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}
.post__ava {
  width: 100px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  color: slateblue;
}
.title {
  font-size: 2em;
  color: #111;
}
.text {
  flex-grow: 1;
  font-size: 1.4em;
}