.dialogs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.names {
  width: 100px;
  border-right: 1px dotted coral;
}

.messages {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}